body {

    padding:50px;
}

.list-grup-item{

    align-items:center;
    display:flex;
    justify-content: space-between;
}

p{
    cursor:pointer;
}

.complete{

    text-decoration: line-through;
}