body{

    margin-left:15%;
    margin-top:5%;
    
}
input{

    margin:15px;
}
.boton-Enviar{

    margin-left:50%;
}
.footer{

    margin-left:55%;
    margin-top:7px;
}

.texto-parrafo{

    margin-left:50%;
}

.boton-siguiente{

    margin-right:50px;
}
.container-Botones{

    margin-left:50%;
}

#containerName{

    width:700px;
}

#botonFocus{

    margin-left:50%;

}